/* 
*/
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #183d3d;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

header h1 {
  font-size: 2rem;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 2rem;
  background-color: #93b1a6;
}

#portfolio {
  display: grid;
  padding: 50px;
  gap: 20px;
  
}

#portfolio-item {
  border: 3px solid #5c8374;
  padding-bottom: 20px;
  
}

#portfolio-item img {
  max-width: 10%;
  height: 50%;
  width: max-content;
}

#contact-img {
  max-width: 30%;
  height: 15%;
  position: relative;
  left: 300px;
  bottom: 100px;
}

footer {
  background-color: #183d3d;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
}
